{% comment %}
	{{ content_for_index }}
{% endcomment %}

<a href="javascript:" data-sn-id="12917" class="dtm-sn-footer" style="display: none;">Edit</a>
<div class="dtm-sn-header" data-sn-id="47835" style="width: 100%; height: 1px; display: none;"></div>
<div id="offerWrap">
    <div id="price">
        <img src="{{ 'neater-scooper-price.png' | file_url }}" id="prcimg" alt="Yours for as low as" />
        <div id="offordrow">
            <a href="#order" class="assets ordnwbtn" title="Order Neater Scooper Now!" id="ga-link1">Order Now!</a>
        </div>
    </div>
    <div id="points">
        <iframe style="margin: 20px auto;" src="https://player.vimeo.com/video/235039070?autoplay=1&amp;loop=1&amp;title=0&amp;byline=0&amp;portrait=0" width="267" height="150" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
        <div id="features">
            <h3 class="assets">FEATURES & BENEFITS</h3>
            <div id="featuresli">
                <ul>
                    <li><span>Attached waste bin &amp; clever trap door design makes cleaning the litter box a whole lot easier</span></li>
                    <li><span>No more spilled litter</span></li>
                    <li><span>Scooping &amp; bagging is combined into a quick, easy, one hand operation</span></li>
                    <li><span>Eliminates touching soiled bags, making it more sanitary</span></li>
                    <li><span>Designed for quick sifting with less dust</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="midWrap">
    <div id="great">
        <div class="midtxt">
            <h3 class="assets"><span class="libre-baskerville">Neater Scooper</span> is so easy to use!</h3>
            <ul class="midli">
                <li><img src="{{ 'great1.jpg' | file_url }}" alt="Sift" /></li>
                <li><img src="{{ 'great2.jpg' | file_url }}" alt="Lift" /></li>
                <li class="midlst"><img src="{{ 'great3.jpg' | file_url }}" alt="Toss" /></li>
            </ul>
            <div class="clearer"></div>
        </div>
        <div class="prodbnr">
            <div id="testshow">
                <img src="{{ 'animation.gif' | file_url }}" alt="see how it works">
            </div>
            <a href="#order" class="ordnwbtn assets" title="Order Neater Scooper Now!" id="ga-link2">Order Now!</a>
        </div>
        <div class="clearer"></div>
    </div>
    <div class="hrmain"><hr /></div>
    <div id="easy">
        <img src="{{ 'storage-bg.png' | file_url }}" alt="Two scop storage options!">
    </div>
    <div class="clearer"></div>
</div>


