{% comment %}
	{{ content_for_index }}
{% endcomment %}

  <a href="javascript:" data-sn-id="12917" class="dtm-sn-footer" style="display: none;">Edit</a>

                        <div class="dtm-sn-header" data-sn-id="47835" style="width: 100%; height: 1px; display: none;"></div>            <div id="offerWrap">
                            <div id="price">
                                <img src="{{ 'neater-feeder-express-price.png' | file_url }}" id="prcimg" alt="Yours for as low as" />
                                <div id="offordrow">
                                    <a href="#order" class="assets ordnwbtn" title="Order Neater Feeder&reg; Express Now!">Order Now!</a>
                                    <img src="{{ 'ccimg.png' | file_url }}" id="ccimg" alt="Credit Cards Accepted" />
                                </div>
                            </div>
                            <div id="points">
                                <div id="video">
                                    <video class="video-js vjs-default-skin" id="video-video1199" controls="controls" width="266" height="202" autoplay="autoplay" loop="loop" poster="images/desktop/poster.jpg" preload="metadata" data-setup="{}">
                                        <source src="https://a.govid1.com/neaterpetbrands/neaterfeeder/NTRFDR/Site1/video1199.mp4" type="video/mp4">
                                        <source src="https://a.govid1.com/neaterpetbrands/neaterfeeder/NTRFDR/Site1/video1199.webm" type='video/webm; codecs="vp8.0, vorbis"'>
                                        <source src="https://a.govid1.com/neaterpetbrands/neaterfeeder/NTRFDR/Site1/video1199.ogv" type="video/ogg; codecs=theora, vorbis">
                                    </video>
                                </div>
                                <div id="features">
                                    <h3 class="assets">Features &amp; Benefits</h3>
                                    <div id="featuresli">
                                        <ul>
                                            <li><span>Patented two-part mess proof design catches spilled food up top and drains spilled water into the bottom</span></li>
                                            <li><span>Comes in sizes for every dog breed and a special design for cats</span></li>
                                            <li><span>Elevated design creates a comfortable feeding position</span></li>
                                            <li><span>Smooth and durable plastic construction is easy to clean</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img src="{{ 'neater-feeder-express-banner.png' | file_url }}" alt="Perfect for messy eaters, sloppy drinkers, accidental kicks and knocks!" />
                        <div id="midWrap">
                            <div id="great">
                                <div class="midtxt">
                                    <h3 class="assets">Neater Feeder&reg; Express has you covered:</h3>
                                    <ul class="midli">
                                        <li><img src="{{ 'great1.jpg' | file_url }}" alt="Kick Proof" /> Kick Proof</li>
                                        <li><img src="{{ 'great2.jpg' | file_url }}" alt="Contains Spills" /> Contains Spills</li>
                                        <li class="midlst"><img src="{{ 'great3.jpg' | file_url }}" alt="Easy To Clean" /> Easy To Clean</li>
                                    </ul>
                                    <div class="clearer"></div>
                                </div>
                                <div class="prodbnr">
                                    <img src="{{ 'neater-feeder-express-dogs-cats.jpg' | file_url }}" alt="For all dogs &amp; cats!" />
                                    <a href="#order" class="ordnwbtn assets" title="Order Neater Feeder&reg; Express Now!">Order Now!</a>
                                </div>
                                <div class="clearer"></div>
                            </div>
                            <div class="hrmain"><hr /></div>
                            <div id="easy">
                                <div class="slide-show" id="testshow">
                                    <img src="{{ 'testimonial1.png' | file_url }}" class="first slide" alt="Kelly C." />
                                    <img src="{{ 'testimonial2.png' | file_url }}" class="slide" alt="Edna M." />
                                    <img src="{{ 'testimonial3.png' | file_url }}" class="slide" alt="Scott V." />
                                    <img src="{{ 'testimonial4.png' | file_url }}" class="slide" alt="Bonnie D." />
                                    <img src="{{ 'testimonial5.png' | file_url }}" class="slide" alt="M. Dittmer" />
                                    <img src="{{ 'testimonial6.png' | file_url }}" class="slide" alt="Lynn S." />
                                </div>
                                <div class="prodbnr">
                                    <img src="{{ 'neater-feeder-express-save.jpg' | file_url }}" alt="Save time &amp; money on cleanup!" />
                                </div>
                                <div class="clearer"></div>
                            </div>
                            <div class="clearer"></div>
                        </div>
                        <div class="clearer"></div>
                        <img src="{{ 'Neater-Feeder-Sizing-Chart.png' | file_url }}">

                   
